html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0 250px;
  padding: 0;
  border-left: 1px black solid;
  border-right: 1px black solid;
  font-size: 1.3rem;
  background-color: wheat;
}

header,
main,
footer {
  background-color: rgb(248, 228, 190);
}

.about-container img {
  max-width: 350px;
  padding: 30px;
  padding-top: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  padding-right: 40px;
  font-weight: bold;
  font-size: 1.5rem;
}

nav li {
  transition: transform 0.3s ease;
}

.about-container {
  display: flex;
}

#aboutme p {
  padding-right: 30px;
}

section h2,
h1 {
  padding: 30px;
  margin: 0;
}

#skills ul {
  list-style-type: circle;
  margin: 0;
  padding-bottom: 30px;
}

figure {
  padding-bottom: 30px;
}

.projectsimg {
  padding-top: 30px;
  display: none;
  width: 700px;
}

figcaption {
  width: 200px;
}

a {
  color: black;
}

footer {
  height: 100px;
  text-align: center;
  align-content: center;
  font-weight: bold;
  border-bottom: 1px solid black;
}

section {
  border-bottom: 1px solid black;
}

.contact-container {
  padding-left: 30px;
  padding-bottom: 30px;
}

span {
  font-weight: bold;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: rgb(92, 88, 79);
}

nav li:active {
  transform: scale(0.9);
}

@media only screen and (max-width: 1380px) {
  body {
    font-size: 1.1rem;
    margin: 0 150px;
  }

  nav ul {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1080px) {
  body {
    font-size: 0.9rem;
    margin: 0 99px;
  }

  nav ul {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  .about-container img {
    max-width: 250px;
  }

  .projectsimg {
    width: 600px;
  }
}

@media only screen and (max-width: 845px) {
  body {
    font-size: 0.8rem;
    margin: 0 50px;
  }

  nav ul {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  .about-container img {
    max-width: 180px;
  }

  .projectsimg {
    width: 500px;
  }
}

@media only screen and (max-width: 680px) {
  body {
    font-size: 0.7rem;
    margin: 0 30px;
  }

  nav ul {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  .projectsimg {
    width: 450px;
  }
}

@media only screen and (max-width: 591px) {
  .projectsimg {
    width: 400px;
  }

  body {
    margin: 0;
  }
}

@media only screen and (max-width: 530px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-container p {
    padding: 20px;
  }

  h2 {
    text-align: center;
  }

  header {
    flex-direction: column;
  }
}
